[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
selenium = "*"
pynput = "*"
pytest = "*"
pytest-httpserver = "*"
requests = "*"
pytest-xdist = "*"
pytest-html = "*"
pypom = "*"

[dev-packages]
werkzeug = "*"
selenium-wire = "*"
pdoc = "*"
ruff = "*"
pytest-variables = "*"
taskcluster-taskgraph = "*"
