[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
selenium = "*"
pynput = "*"
pytest = "*"
pytest-httpserver = "*"
requests = "*"
pytest-xdist = "*"
pytest-html = "*"
pypom = "*"
jsonpath-ng = "*"
pillow = "*"
pyfxa = "*"
ruff = "0.5.2"
pytest-rerunfailures = "*"

[dev-packages]
werkzeug = "*"
selenium-wire = "*"
pdoc = "*"
pytest-variables = "*"
taskcluster-taskgraph = "*"
