---
trust-domain: "mozilla"
task-priority: low

taskgraph:
  cached-task-prefix: "mozilla.v2.fx-desktop-qa-automation"
  register: fx_desktop_qa_automation_taskgraph:register
  repositories:
    fx_desktop_qa_automation:
      name: "fx-desktop-qa-automation"

workers:
  aliases:
    b-linux:
      provisioner: '{trust-domain}-{level}'
      implementation: docker-worker
      os: linux
      worker-type: '{alias}-gcp'
    images:
      provisioner: '{trust-domain}-{level}'
      implementation: docker-worker
      os: linux
      worker-type: '{alias}-gcp'
    t-linux-large:
      provisioner: '{trust-domain}-t'
      implementation: docker-worker
      os: linux
      worker-type: '{alias}-gcp'
    t-linux-wayland:
      provisioner: '{trust-domain}-t'
      implementation: generic-worker
      os: linux
      worker-type: 't-linux-2204-wayland'
    t-win11-64-source:
      provisioner: '{trust-domain}-t'
      implementation: generic-worker
      os: windows
      worker-type: 'win11-64-24h2-source'
