name: Check new beta version - L10N

on:
  schedule:
    - cron: "40 */1 * * *"
env:
  LATEST: ""
permissions:
  contents: "write"

jobs:
  Check-Beta-Version:
    runs-on: ubuntu-latest
    outputs:
      win_reportable: ${{ steps.reportable.outputs.win }}
      mac_reportable: ${{ steps.reportable.outputs.mac }}
      mac_l10n_reportable: ${{ steps.l10n-reportable.outputs.mac_l10n }}
      win_l10n_reportable: ${{ steps.l10n-reportable.outputs.win_l10n }}
      linux_l10n_reportable: ${{ steps.l10n-reportable.outputs.linux_l10n }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check if the l10n run is reportable
        id: l10n-reportable
        env:
          TESTRAIL_REPORT: true
          FX_L10N: true
          TESTRAIL_BASE_URL: ${{ secrets.TESTRAIL_BASE_URL }}
          TESTRAIL_API_KEY: ${{ secrets.TESTRAIL_API_KEY }}
          TESTRAIL_USERNAME: ${{ secrets.TESTRAIL_USERNAME }}
        run: |
          pip3 install 'pipenv==2023.11.15';
          pipenv install
          echo win_l10n=$(pipenv run python -c 'from modules import testrail_integration as tri; print(tri.reportable("Windows"))') >> "$GITHUB_OUTPUT"
          echo mac_l10n=$(pipenv run python -c 'from modules import testrail_integration as tri; print(tri.reportable("Darwin"))') >> "$GITHUB_OUTPUT"
          echo linux_l10n=$(pipenv run python -c 'from modules import testrail_integration as tri; print(tri.reportable("Linux"))') >> "$GITHUB_OUTPUT"

  Run-L10N-Mac-Smoke:
    needs: Check-Beta-Version
    if: ${{ needs.Check-Beta-Version.outputs.mac_l10n_reportable == 'True' }}
    uses: ./.github/workflows/l10n.yml
    with:
      job_to_run: L10N-MacOS
      is_pull_request: false
    secrets: inherit

  Run-L10N-Win-Smoke:
    needs: Check-Beta-Version
    if: ${{ needs.Check-Beta-Version.outputs.win_l10n_reportable == 'True' }}
    uses: ./.github/workflows/l10n.yml
    with:
      job_to_run: L10N-Windows
      is_pull_request: false
    secrets: inherit

  Run-L10N-Linux-Smoke:
    needs: Check-Beta-Version
    if: ${{ needs.Check-Beta-Version.outputs.linux_l10n_reportable == 'True' }}
    uses: ./.github/workflows/l10n.yml
    with:
      job_to_run: L10N-Linux
      is_pull_request: false
    secrets: inherit
